{{>warning-banner}}
{{>version}}
<form>
    <legend><i class="icon-wrench"></i> Admin</legend>
</form>
<form>
    <legend>Application Cache</legend>
    <b>Cache Items: </b><br/>
    {{#each cacheInfo}}
        {{this.request}}<br/>
    {{/each}}

    <button id="btn-test" class="btn btn-primary">Clear Cache</button>
</form>
