{{>warning-banner}}
{{>version}}
<form>
    <legend><i class="icon-wrench"></i> Admin</legend>
</form>
<form>
    <legend>Application Cache Items</legend>
    <div class="well well-small">
        <div id="cacheItems"></div>
    </div>
    <button id="btn-test" class="btn btn-primary">Clear Cache</button>
</form>
